body {
  font-family:'Times New Roman', Times, serif;
  background-color: #f3f3f3;
  color: gray;
  font-size: 135%;
}

.wrapper {
  max-width: 90%;
  margin: 1rem auto 1rem auto;

}

header {
  padding: 2rem 0 2rem 0;
  text-align: left;
}

header h1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 400%;
 
}

nav {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid lightgray
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav li {

  list-style-type: none;
  margin-right: 1rem;
  margin-bottom: 1rem
}

.title {
display: flex;
justify-content: left;
}

nav a {
  color: darkgray;
  font-weight: 500;
  text-decoration: none;
}

nav a:hover {
 font-style: italic;
}

main {
  display: grid;
  grid-template-columns: 3fr;
  padding-bottom: 2rem;
}

main a {
  color: black;
}

.left-column {
  line-height: 1.5;
  padding: 0 1rem 2rem 0;
}

.left-column h2 {
  font-weight: normal;
  font-size: 150%;
  padding-bottom: 1rem;

}

.left-column h3 {
  font-weight: normal;
  text-decoration: underline;
  line-height: 2;
}

.left-column p {
  max-width: 50%;
  margin-left: 4rem;
}

.left-column ul {
  display: table-row;
  flex-wrap: wrap;
  justify-content: left;
}

.left-column li {
  text-decoration: underline 2px solid black;
  list-style-type: none;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.left-column ul a {
  text-decoration: none;
  padding: 4rem;
  line-height: 2;
}

.pic-right {
  float: right;
  box-shadow: 2px 2px 7px lightgray;
  border: 5px solid black;
  margin: 0 0 3rem 3rem;
  max-width: 33%;
}

img {
  max-width: 100%;
}

footer {
  background-color: #f3f3f3;
  color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  font-size: 80%;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 3rem;
}

.gallery img {
  max-height: 600px;
}

.gallery figcaption {
  line-height: 1.4;
}
